.Card {
  width: 700px;
  max-width: 100%;
  height: auto;
}
.Back {
  height: 44px;
  width: 100px;
  text-align: center;
  line-height: 44px;
  box-shadow: 1px 1px 8px #b9b9b9;
  font-size: 1em;
  text-decoration: none;
  color: #333;
  position: absolute;
  top: 2em;
  left: 2em;
}
